.login__bg {
    background-image: url(../assets/u1.png);
    height: 92vh;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    overflow-x: hidden;
    
}
